<div class="result-panel">
  <div class="row">
    <div class="col-md-12">
      <p class="text-left">Neighborhood: <%= name_zestimate[:name] %></p>
      <p class="text-left">Avg cost: <%= name_zestimate[:zestimate] %></p>
    </div>
  </div>
</div>