<div class="card card-inverse card-<%= %w(primary info danger).sample %>">
  <img class="img-fluid" src="https://realestateca.files.wordpress.com/2011/03/paintedladies.jpg" alt="card-img" style="height: 180px; width: 100%; display=block;" data-holder-rendered="true">
  <div class="card-block">
    <h4 class="card-title"> Neighborhood </h4>
    <p class="card-text"> Overall score</p>
    <p class="card-text"> Distance from POI: </p>
    <a href="3" class="btn btn-primary"> More </a>
  </div>
</div>
