/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#body-wrap {
  text-align: center;
}

#new_user {
  text-align: center;
}

#sign-up {
  text-align: center;
}

#sign-up-mini-1 {
  display: inline-block;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

#btn-0 {
  /*background: #146eb4;*/
}

#btn-1 {
 /* background: #0099e5;*/
;
}

#btn-2 {
 /* background: #fd5c63;*/
}

/*#main-nav {
  
  background-color: #3b5998;
}

#main-nav a:link {
  color: white;
  font-family: "Oswald", Helvetica, Arial, sans-serif!important;

}

#main-nav a:visited
{
  color: white;
}*/

#main-nav a:hover
{
  color: black;
}


a:link { color: #3b5998 }

#big-body {
  background-color: #dfe3ee  ;
}

footer {
    bottom: 0px;
    float: right;
    margin: 0px 50px 0px 0px;
    color: #000;
    text-align: right;
}