// Place all the styles related to the Searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#map {
  min-width: 650px;
  min-height: 800px;
}

.map-sidebar {
  position: fixed;
  left: 0;
  top: 0px;
}

.result-panel {
  background-color: #fff;
  margin: 15px;
  border: 3px solid #d9d9d9;
}

.img-fluid {
  height: 180px;
  width: 100%;
  display: block;
}

.center-details {
  width: 35%;
  margin: 0 auto;
}

.detail-button {
  font-size:20px;
}


@media screen
  and (max-width: 1024px) {
    div#map {
      min-width: 360px;
      min-height: 400px;

    }
    .map-sidebar {
      position: static;
    }
}

@media screen
  and (max-width: 414px) {
    div#map {
      min-width: 180px;
      min-height: 300px;

    }
    .map-sidebar {
      position: static;
    }
}
