// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#body-wrap{
  padding-top: 50px;
}

#survey{
  @media (max-width: 415px) {
    .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
        padding-left: 10px;
    }
    .most-important-text{
      margin-left: 10px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
    // @media (max-width: 350){
    //   text-align: justify;
    // }
    // @media (min-width: 351){
    //   font-size: 1.4em;
    // }
  }
}
